.project {
  padding: 12px;
}

.project img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .project {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .project {
    font-size: 1.1rem;
  }
}
