.box {
  width: 100%;
}

.slick-slider {
  width: 100%;
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-height: 500px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: transparent;
}

.slick-dots li button:before {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #9d03fc;
  opacity: 1;
}
